<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Development Debug Settings-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxConnections="10">
          <security mode="None"/>
          <!--Disables security for local testing-->
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CalculatorService.Services.CalculatorServiceSvc" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" contract="CalculatorService.Services.ICalculatorServiceSvc" />
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="CalculatorService.Services.ICalculatorServiceSvc" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8987/CalculatorServiceSvc" />
            <add baseAddress="net.tcp://localhost:8988/CalculatorServiceSvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>