<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorServiceSvc" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalculatorServiceSvc">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8987/CalculatorServiceSvc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculatorServiceSvc"
                contract="CalculatorService.Services.ICalculatorServiceSvc"
                name="BasicHttpBinding_ICalculatorServiceSvc" />
            <endpoint address="net.tcp://localhost:8988/CalculatorServiceSvc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculatorServiceSvc"
                contract="CalculatorService.Services.ICalculatorServiceSvc"
                name="NetTcpBinding_ICalculatorServiceSvc" />
        </client>
    </system.serviceModel>
</configuration>